@import url('https://fonts.googleapis.com/css?family=Days+One|Ubuntu:400,500,700');
h1,h2,h3,h4,h5,h6{
    font-family: 'Days One', sans-serif;
    margin-top: 0px;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.value {
	list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
}
.value a{
	text-decoration: none;
    color: #333333;
    font-weight: 700;
    font-size: 18px;
     padding: 30px;
	display: inline-block;
}
.identification .value{
    text-align: center;	
}
.value li{
    display: inline-block;
   
}
.value a:hover{
    color: #f1b200;
	
}
header{
    background-image: url(../image/Rectangle%201.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 18px;
}
header h2,header p{
    color: #feffff;
}
header h2 span{
    color: #f1b200;
    
}

header h2{
    margin-bottom: 40px;
    font-size: 48px;
}
header p{
    margin-bottom: 30px;
    text-align: justify;
}
.btn-yellow{
    background-color: #f1b200;
    color: #fefefe;
    border-radius: 0px;
    padding: 15px 30px 15px 30px;
    font-weight: 700;
}
.btn-yellow:hover{
    color: #feffff;
}
.services {
	background-color: #f3f3f3;
    padding-top: 100px;
    padding-bottom: 100px;
}
.services .icon-details {
    background-color:  #feffff;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
}
.services .icon-details i{
    font-size: 72px;
    color: #f1b200;
    margin-bottom: 30px;
}
.icon-details:hover {
    color: #feffff;
    background-color: #f1b200;
	
}
.icon-details:hover i {
    color: #feffff;
	
}
.our-works h2{
    text-align: center;
    color: #feffff;
    margin-bottom: 40px;
	
}
.our-works  span{
    color: #f1b200;
	
}
.our-works {
	background-image: url(../image/pexels-photo-436784.jpeg);
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}
form .form-control{
    border-radius: 0px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 0px;
}
.Contact-us {
	background-color: #f3f3f3;
    padding-top: 80px;
    padding-bottom: 80px;
}
.Contact-us h2{
	text-align: center;
    margin-bottom: 40px;
}
.Contact-us span{
    color: #f1b200;
	
}
.form-control::-webkit-input-placeholder {
    color: #808080;
    font-weight: 500;
}
footer{
    text-align: center;
    background-color: #2b2e3b;
    padding-top: 100px;
    padding-bottom: 100px;
}
footer i{
    margin-left: 30px;
    margin-right: 30px;
    color: #f3f3f3;
    margin-bottom: 50px;
    font-size: 36px !important;
    
}
footer p{
    color: #f3f3f3;
    font-weight: 500;
}
@media screen and (max-width:768px){
.our-works .news-detail{
    margin-bottom: 30px;
   
    }
}
@media screen and (max-width:768px){
    .services .icon-details{
	margin-bottom: 30px;
}
}
.news-detail img{
    width: 100%;
}